<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fuelSDK" type="FuelSDK.FuelSDKConfigurationSection, FuelSDK" />
  </configSections>
  <fuelSDK appSignature="none" clientId="dwn37veg68fwqifgj2dpdm8g" clientSecret="V1pGanPQK5iJGBjbPVYQB1lV" authEndPoint="https://mc4z5c9qds0899cx-bvxnpf1y578.auth.marketingcloudapis.com/v1/requestToken" restEndPoint="https://mc4z5c9qds0899cx-bvxnpf1y578.rest.marketingcloudapis.com" />
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>
